.main-tasks 
  .contents
    .contents_content
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"} 
      .contents_content_task 楽したい
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content 
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 楽しみたい
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content  
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task たくさんたべたい
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task ろくなもんない
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task いがらっぽい
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 鉄分足りてない
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task セロトニン
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 朝風呂
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 久しぶりのマック
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 餅つき
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task 舵取り
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
    .contents_content     
      %input{type:"checkbox", class:"content1", name:"tasks", value:"サンプル"}
      .contents_content_task ご飯たべたい
      %i.fa.fa-trash
      .contents_content_user
        伊藤  圭
      .contents_content_time
        2020年2月20日
  .form
    .new-message
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text", value:""}      
      %input{type:"submit",value:"Post",class: "message-create__btn__send"}