.side-bar
  .groups
    %a(href="#")
    %i.fa.fa-dot-circle
    グループa
    %a(href="#")
    %i.fa.fa-dot-circle
    グループb
    %a(href="#")  
    %i.fa.fa-dot-circle
    グループc
    %a(href="#")  
    %i.fa.fa-dot-circle
    グループd 