.header
  .header_box
    .header_box_logo
      P/Do
    .header_box_user  
      伊藤  圭 
      %i.fa.fa-user-cog : 
      %i.fa.fa-users >
    .header_box_group
      鮫肌鳥肌  
      %i.fa.fa-users-cog
.wrapper
  = render "side_bar"
  = render "main_tasks"
  


