h1 {
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

span{
  color: orange;
  font-size: 36px;
  font-family: "Holtwood One SC";
}

label.group-header{
  font-family: "Holtwood One SC";
  margin-left: 5px;
  font-size: 24px;

}

label.new_group{
  font-family: "Holtwood One SC";
  margin-left: 5px;
  font-size: 24px;
}
h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



.chat-group-form {
  width: 100vw;
  height: 100vh;
  padding: 40px 300px;
  background-color:rgba(221, 221, 221, 0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  &__label {
    display: block;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
    font-style: italic;
  }
  &__input {
    float: left;
    width: 60%;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 20px;
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
  &__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &--right {
      float: right;
      width: 70%;
    }
  }
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid white;
  width: 60%;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    float: left;
  }
  &__btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    font-style: italic;
    &--add {
      color: #ff6347;
      font-weight: bold;
    }
    &--remove {
      color: #ff6347;
      font-weight: bold;

    }
  }
}

.chat-group-form__action-btn{
  font-weight: bold;
  font-style: italic;
  color: white;
  border-radius: 20px;
  background-color: orange; 
  cursor: pointer;
}

.chat-group-form__action-btn[value="更新する"]{
  position: relative;
  margin-left: 20px;
}